* {
  padding: 0;
  margin: 0;
}



nav {
  max-width: 1140px;
  margin: 0 auto;
}
.content {
  background: url(/imgep/img.jpg);
  background-size: cover;
  height: 500px;
  background-position: center;
}
.font {
  display: flex;
  justify-content: center;
}




