* {
  padding: 0;
  margin: 0;
}

header {
  max-width: 1140px;
  margin: 0 auto;
}

.container {
  width: 100%;
  text-align: center;
  background-color: rgb(211, 176, 207);
  padding: 2rem;
}

.section h3 {
  font-size: 3rem;
  color: black;
}
.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f0e6e6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
}

.search-box {
  margin: 1em 0;
  height: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ebdddd; */
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  
}

.search {
  padding: 0.6em;
  width: 300px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.search input {
  width: 300px;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.button-box button {
  padding: 0.6em 1.2em;
  font-size: 1.2rem;
  color: white;
  background-color: #bbafaf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-box button:hover {
  background-color: #a99b9b;
  transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
  .search-box {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .search input {
    width: 100%;
    font-size: 1rem;
  }

  .button-box button {
    width: 100%;
    padding: 0.6em;
    font-size: 1rem;
  }
}


